<!DOCTYPE html>
<html>
<head>
    <title>Add Role</title>
</head>
<body>
    <h1>Add Role</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="movie">Select Movie:</label>
            <select id="movie" name="movie">
                {% for movie in movies %}
                    <option value="{{ movie.movie_id }}">{{ movie.moviename }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="person">Select Person:</label>
            <select id="person" name="person">
                {% for person in persons %}
                    <option value="{{ person.personID }}">{{ person.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div>
            <label for="role_name">Role Name:</label>
            <input type="text" id="role_name" name="role_name" required>
        </div>
        <div>
            <label for="role_description">Role Description:</label>
            <textarea id="role_description" name="role_description"></textarea>
        </div>
        <div>
            <button type="submit">Add Role</button>
        </div>
    </form>
</body>
</html>
