<!DOCTYPE html>
<html>
<head>
    <title>Add Role</title>
</head>
<body>
    <h1>Add Role</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form method="post">
        
        {% csrf_token %}
        <div>
            <label for="movie_search">Search Movie:</label>
            <input type="text" id="movie_search" name="movie_search" readonly>
            <input type="hidden" id="movie_id" name="movie_id">
            <button type="button" onclick="window.open('{% url 'search_movies' %}', 'Search Movies', 'width=600,height=400')">Search</button>
        </div>

        <div>
            <label for="person_search">Search Person:</label>
            <input type="text" id="person_search" name="person_search" readonly>
            <input type="hidden" id="person_id" name="person_id">
            <button type="button" onclick="window.open('{% url 'search_persons' %}', 'Search Persons', 'width=600,height=400')">Search</button>
        </div>

        <div>
            <label for="role_name">Role Name:</label>
            <input type="text" id="role_name" name="role_name" required>
        </div>
        <div>
            <label for="role_description">Role Description:</label>
            <textarea id="role_description" name="role_description"></textarea>
        </div>
        <div>
            <button type="submit">Add Role</button>
        </div>
    </form>
    <p><a href="{% url 'home' %}">home</a>.</p>
</body>
</html>

