<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Movie Database</h1>
    <p>This is the home page of our movie database website.</p>
    <p><a href="{% url 'add_movie' %}">add a new movie</a>.</p>
    <p><a href="{% url 'add_production_company' %}">add a new production company</a>.</p>
    <p><a href="{% url 'list_production_companies' %}">see all production companies</a>.</p>
</body>
</html>

