<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Movie Database</h1>
    <p>This is the home page of our movie database website.</p>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p><a href="{% url 'add_production_company' %}">add a new production company</a>.</p>
    <p><a href="{% url 'list_production_companies' %}">see all production companies</a>.</p>
    <p><a href="{% url 'add_movie' %}">add a new movie</a>.</p>
    <p><a href="{% url 'list_movies' %}">see all movies</a>.</p>
    <p><a href="{% url 'add_person' %}">add a new person</a>.</p>
    <p><a href="{% url 'list_persons' %}">see all persons</a>.</p>
    <p><a href="{% url 'all_directors' %}">see all directors</a>.</p>
    <p><a href="{% url 'manage_genres' %}">manage movie genres</a>.</p>
    <p><a href="{% url 'manage_admins' %}">manage admins</a>.</p>
    <!-- 添加登出按钮 -->
    <p><a href="{% url 'logout' %}">Logout</a></p>
    <a href="{% url 'delete_account' %}">Delete Account</a>
</body>
</html>

