<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Actors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="actor-list">
        <h1>All Actors</h1>
        <form method="get" action="{% url 'list_actors' %}">
            <input type="text" name="search_name" value="{{ search_name }}" placeholder="Search Actor Name">
            <button type="submit">Search</button>
        </form>
        <ul>
            {% for actor in actors %}
                <li>
                    <strong>{{ actor.name }}</strong>
                    <ul>
                        {% for movie in actor.movies %}
                            <li>
                                <a href="{% url 'movie_detail' movie.movie_id %}">{{ movie.title }}</a>
                                {% if movie.rating %}
                                    - Rating: {{ movie.rating|floatformat:1 }}/10
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            {% endfor %}
        </ul>
    </div>
    <a href="{% url 'home' %}">Home</a>
</body>
</html>
