<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Persons</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
        header, footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 1em 0;
        }
        nav a {
            color: #333;
            margin: 0 1em;
            text-decoration: none;
        }
        nav a:hover {
            text-decoration: underline;
        }
        .search-form {
            margin: 2em 0;
            padding: 1em;
            background-color: #ddd;
            border-radius: 8px;
        }
        .person-info {
            display: inline-block;
            margin-right: 1em;
            vertical-align: middle;
        }
        .person-actions {
            display: inline-block;
        }
        .editing {
            display: none;
            margin-top: 1em;
        }
        .pagination {
            margin-top: 2em;
            text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <h1>List of Persons</h1>
    </header>

    <nav>
        <!-- Add navigation links here -->
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'add_person' %}">Add Person</a>
        <!-- Other links as needed -->
    </nav>

     {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="get" action="{% url 'search_persons' %}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
        <label for="start_birth_date">Start Birth Date:</label>
        <input type="date" id="start_birth_date" name="start_birth_date">
        <label for="end_birth_date">End Birth Date:</label>
        <input type="date" id="end_birth_date" name="end_birth_date">
        <label for="gender">Gender:</label>
        <select id="gender" name="gender">
            <option value="">Any</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="U">Unknown</option>
        </select>
        <label for="marital_status">Marital Status:</label>
        <select id="marital_status" name="marital_status">
            <option value="">Any</option>
            <option value="S">Single</option>
            <option value="M">Married</option>
            <option value="W">Widowed</option>
            <option value="U">Unknown</option>
        </select>
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for person in persons %}
            <li>
                <div class="person-info">
                    {{ person.name }} - {{ person.birth_date|date:"Y-m-d" }} - {{ person.gender|title }} - {{ person.marital_status|title }}
                </div>
                <a href="{% url 'all_directors' %}?search_director={{ person.name }}">Director</a>
                <a href="{% url 'list_actors' %}?search_name={{ person.name }}">Actor</a>
                <div class="person-actions">
                    <button onclick="toggleEdit('{{ person.personID }}')">Edit</button>
                    <button class="save-button" onclick="saveChanges('{{ person.personID }}')" style="display:none;">Save</button>
                    <button onclick="deletePerson('{{ person.personID }}')">Delete</button>
                </div>
                 <form method="post" action="{% url 'update_person' person.personID %}" class="editing">
                    {% csrf_token %}
                    <input type="text" name="name" value="{{ person.name }}" required>
                    <input type="date" name="birth_date" value="{{ person.birth_date|date:'Y-m-d' }}" required>
                    <select name="gender" required>
                        <option value="M" {% if person.gender == 'M' %}selected{% endif %}>Male</option>
                        <option value="F" {% if person.gender == 'F' %}selected{% endif %}>Female</option>
                        <option value="U" {% if person.gender == 'U' %}selected{% endif %}>Unknown</option>
                    </select>
                    <select name="marital_status" required>
                        <option value="S" {% if person.marital_status == 'S' %}selected{% endif %}>Single</option>
                        <option value="M" {% if person.marital_status == 'M' %}selected{% endif %}>Married</option>
                        <option value="W" {% if person.marital_status == 'W' %}selected{% endif %}>Widowed</option>
                        <option value="U" {% if person.marital_status == 'U' %}selected{% endif %}>Unknown</option>
                    </select>
                </form>
            </li>
        {% endfor %}
    </ul>

     <div class="pagination">
        <span class="step-links">
            {% if persons.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ persons.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ persons.number }} of {{ persons.paginator.num_pages }}.
            </span>

            {% if persons.has_next %}
                <a href="?page={{ persons.next_page_number }}">next</a>
                <a href="?page={{ persons.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <footer>
        <p>&copy; 2024 Your Website Name. All rights reserved.</p>
    </footer>

    <script>
        function toggleEdit(personId) {
            var form = document.querySelector('#person-' + personId + ' .editing');
            var info = document.querySelector('#person-' + personId + ' .person-info');
            var editButton = document.querySelector('#person-' + personId + ' button');
            var saveButton = document.querySelector('#person-' + personId + ' .save-button');

            if (form.style.display === 'none' || form.style.display === '') {
                form.style.display = 'block';
                info.style.display = 'none';
                saveButton.style.display = 'inline';
                editButton.style.display = 'none';
            } else {
                form.style.display = 'none';
                info.style.display = 'block';
                saveButton.style.display = 'none';
                editButton.style.display = 'inline';
            }
        }

        function saveChanges(personId) {
            var form = document.querySelector('#person-' + personId + ' .editing');
            var formData = new FormData(form);

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/update_person/" + personId + "/", true);
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest"); // 确保设置了这个头信息
            xhr.onreadystatechange = function() {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.responseText);
                        if (response.success) {
                            location.reload();
                        } else {
                            console.error("Error: " + response.error);
                        }
                    } else if (xhr.status === 403) {
                        var response = JSON.parse(xhr.responseText);
                        console.error("Permission error: " + response.error);
                        alert(response.error); // 显示权限错误消息
                    } else {
                        console.error("An error occurred: " + xhr.statusText);
                    }
                }
            };
            xhr.send(formData);
        }

        function deletePerson(personId) {
            if (confirm("Are you sure you want to delete this person?")) {
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/delete_person/" + personId + "/", true);
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest"); // 确保设置了这个头信息
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            var response = JSON.parse(xhr.responseText);
                            if (response.success) {
                                location.reload();
                            } else {
                                alert("Error: " + response.error);
                            }
                        } else if (xhr.status === 403) {
                            alert("缺少权限,需要管理员权限");
                        } else {
                            alert("An error occurred: " + xhr.statusText);
                        }
                    }
                };
                xhr.send();
            }
        }
    </script>
    <footer>
        <p><a href="{% url 'home' %}">home</a>.</p>
    </footer>
</body>
</html>
