<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Genres</title>
</head>
<body>
    <h1>Manage Genres</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <input type="text" name="genre_name" placeholder="New Genre Name">
        <button type="submit" name="action" value="add">Add Genre</button>
    </form>
    <ul>
        {% for genre in genres %}
            <li>
                {{ genre.1 }} <!-- genre_name -->
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="genre_id" value="{{ genre.0 }}"> <!-- genre_id -->
                    <button type="submit" name="action" value="delete">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        <span class="step-links">
            {% if genres.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ genres.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ genres.number }} of {{ genres.paginator.num_pages }}.
            </span>

            {% if genres.has_next %}
                <a href="?page={{ genres.next_page_number }}">next</a>
                <a href="?page={{ genres.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    <p><a href="{% url 'home' %}">home</a>.</p>
</body>
</html>
