<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
</head>
<body>
    <h1>Manage Users</h1>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="GET" action="{% url 'manage_users' %}">
        <input type="text" name="q" placeholder="Search users" value="{{ query }}">
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for user in users_page %}
            <li>
                <a href="{% url 'user_homepage' user.1 %}">{{ user.1 }}</a> <!-- Link to user's homepage -->
                {% if user.2 %}
                    <span style="color: green;">(Staff)</span>
                {% endif %}
                {% if not user.2 %}
                    <form method="post" action="{% url 'admin_delete_user' user.0 %}">
                        {% csrf_token %}
                        <button type="submit">Delete User</button>
                    </form>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <!-- Pagination navigation -->
    <div class="pagination">
        <span class="step-links">
            {% if users_page.has_previous %}
                <a href="?page=1{% if query %}&q={{ query }}{% endif %}">&laquo; first</a>
                <a href="?page={{ users_page.previous_page_number }}{% if query %}&q={{ query }}{% endif %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ users_page.number }} of {{ users_page.paginator.num_pages }}.
            </span>

            {% if users_page.has_next %}
                <a href="?page={{ users_page.next_page_number }}{% if query %}&q={{ query }}{% endif %}">next</a>
                <a href="?page={{ users_page.paginator.num_pages }}{% if query %}&q={{ query }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    <p><a href="{% url 'home' %}">Home</a></p>
</body>
</html>