<!-- register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <!-- 显示验证码图像和输入框 -->
        <label for="id_captcha">Enter the captcha:</label><br>
        <input type="text" id="id_captcha" name="captcha"><br><br>
        <img src="{% url 'generate_captcha' %}" alt="captcha"><br>
        <button type="submit">Register</button>
    </form>
    <p><a href="{% url 'login' %}">home</a>.</p>
</body>
</html>
